{% extends 'index.html' %}

{% block title%}Заявка{% endblock %}

{% block content %}

<form action="" method="post">
    <div>
        <h2 class="heading">Вводные данные по церемонии</h2>
        <p><span style="color: red">*</span> Краткое название организации-заказчика</p><br>
        <textarea rows="1" class="form-application" cols="30" name="nameOrganization" id="nameOrganization"
            placeholder="Введите текст" required></textarea> <br>
        <p><span style="color: red">*</span> Полное наименование подписываемого документа:</p> <br>
        <textarea rows="1" class="form-application" cols="30" name="nameDocument" id="nameDocument"
            placeholder="Введите текст" required></textarea> <br>
        <p> Дата церемонии:</p> <br>
        <input type="date" class="form-application" min="2023-08-28" max="2023-10-31" name="dateOfTheCeremony"
            id="dateOfTheCeremony"> <br>
        <p>Время (если известно):</p> <br>
        <input type="time" class="form-application" name="timeOfTheCeremony" id="timeOfTheCeremony"> <br>
        <p> Место проведения церемонии (зал, павильон/корпус):</p> <br>
        <textarea rows="1" class="form-application" cols="30" name="venueOfTheCeremony" id="venueOfTheCeremony"
            placeholder="Введите текст"></textarea> <br>
        <h2 class="heading">Информация о сторонах - участниках подписания:</h2>
        <p>Количество сторон-участников подписания</p> <br>
        <button type="button" onclick="this.nextElementSibling.stepDown(); MinSigningParty();">-</button>
        <input type="number" min="2" max="30" value="2" readonly class="raz"
            name="quantityOfPartiesSigningTheDocument" id="quantityOfPartiesSigningTheDocument">
        <button type="button" onclick="AddSigningParty(); this.previousElementSibling.stepUp();">+</button>
    </div>
    <div id="clients">
        <hr>
        <div id="client1">
            <h2 style="font-style:italic;">Сторона подписания 1</h2>
            <p><span style="color: red">*</span> Полное наименование стороны (организации) – участника
                подписания соглашения:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="nameOrganizationSide1"
                id="nameOrganizationSide1" placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Должность подписанта:</p><br>
            <textarea rows="1" class="form-application" cols="30" name="postSide1" id="postSide1"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Форма обращения:</p> <br>
            <div class="gender">
                <div> <input type="radio" name="genderSide1" id="genderSide1" яrequired> Господин</div>
                <div> <input type="radio" name="genderSide1" id="genderSide1" required>Госпожа </div> <br>
            </div>
            <p><span style="color: red">*</span> Фамилия:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="lastname1" id="lastname1"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Имя:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="name1" id="name1"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Отчество:</p> <br>
            <textarea class="form-application" cols="30" name="middleName1" id="middleName1"
                placeholder="В целях соблюдения протокола требуется обращаться к участникам церемонии в формате &laquo;имя отчество&raquo;. Если у подписанта отсутствует отчество, поставьте прочерк."
                required></textarea> <br>
            <p><span style="color: red">*</span> Написание <b>имени и фамилии</b> подписанта на английском
                языке:</p><br>
            <textarea rows="1" class="form-application" cols="30" name="nameEnglishSide1" id="nameEnglishSide1"
                placeholder="Введите текст" required></textarea> <br>
            <hr>
        </div>
        <div id="client2">
            <h2 style="font-style:italic;">Сторона подписания 2</h2>
            <p><span style="color: red">*</span> Полное наименование стороны (организации) – участника
                подписания соглашения:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="nameOrganizationSide2"
                id="nameOrganizationSide2" placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Должность подписанта:</P><br>
            <textarea rows="1" class="form-application" cols="30" name="postSide2" id="postSide2"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Форма обращения:</p> <br>
            <div class="gender">
                <div> <input type="radio" name="genderSide2" id="genderSide2" required> Господин</div>
                <div> <input type="radio" name="genderSide2" id="genderSide2" required>Госпожа </div> <br>
            </div>
            <p><span style="color: red">*</span> Фамилия:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="lastname2" id="lastname2"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Имя:</p> <br>
            <textarea rows="1" class="form-application" cols="30" name="name2" id="name2"
                placeholder="Введите текст" required></textarea> <br>
            <p><span style="color: red">*</span> Отчество:</p> <br>
            <textarea class="form-application" cols="30" name="middleName2" id="middleName2"
                placeholder="В целях соблюдения протокола требуется обращаться к участникам церемонии в формате &laquo;имя отчество&raquo;. Если у подписанта отсутствует отчество, поставьте прочерк."
                required></textarea> <br>
            <p><span style="color: red">*</span> Написание <b>имени и фамилии</b> подписанта на английском
                языке:</p><br>
            <textarea rows="1" class="form-application" cols="30" name="nameEnglishSide2" id="nameEnglishSide2"
                placeholder="Введите текст" required></textarea> <br>
            <hr>
        </div>
    </div>

    <div>
        <div></div>
        <h2 class="heading">Дополнительные опции (при наличии)</h2>
        <hr>
        <h2 class="heading">Почетные гости</h2>
        <p><span style="color: red">*</span> Участие почетных гостей в присутствии которых будет проходить
            церемония</p><br>
        <div>
            <input type="radio" name="honoredGuests" onclick="checkhonoredGuestsYes()" id="honoredGuestsYes"
                required>Да<br>
            <input type="radio" name="honoredGuests" onclick="checkhonoredGuestsNo()" id="honoredGuestsNo"
                required>Нет
        </div> <br>
        <div id="checkedHonoredGuestsTrue"></div>
        <div id="NumberHonoredGuests"></div>
        <hr>
        <h2 class="heading"> Обмен подарками во время церемонии</h2>
        <p><span style="color: red">*</span> Официальный обмен подарками в рамках церемонии</p><br>
        <div>
            <input type="radio" name="presents" id="presentsYes" required>Да<br>
            <input type="radio" name="presents" id="presentsNo" required>Нет
        </div> <br>
        <hr>
        <h2 class="heading">Предоставление слова участникам церемонии</h2>
        <p><span style="color: red">*</span> Предоставить слово участникам церемонии</p><br>
        <div>
            <input type="radio" name="wordToTheParticipants" onclick="checkWordToTheParticipantsYes()"
                id="wordToTheParticipantsYes" required>Да<br>
            <input type="radio" name="wordToTheParticipants" onclick="checkWordToTheParticipantsNo()"
                id="wordToTheParticipantsNo" required>Нет
        </div> <br>
        <div id="checkedWordToTheParticipantsTrue"></div>
        <div id="participants"></div>
        <hr>
        <h2 class="heading">Предоставить возможность прессе задавать вопросы после церемонии</h2>
        <p><span style="color: red">*</span> Провести пресс-брифинг (предложить СМИ задавать вопросы)</p><br>
        <input type="radio" name="wordToTheMedia" id="wordToTheMediaYes" required>Да<br>
        <input type="radio" name="wordToTheMedia" id="wordToTheMediaNo" required>Нет
        <hr>
        <h2 class="heading">Формат церемонии</h2>
        <p><span style="color: red">*</span> В каком формате будет проходить церемония </p><br>
        <input type="radio" name="format" id="formatOffline" required
            onclick="RemoveOnlineParticipant()">Церемония с полным присутствием (все стороны присутствуют в
        зале)<br>
        <input type="radio" name="format" id="formatOnline" required onclick="AddOnlineParticipant()">Удаленная
        онлайн-церемония (одна из сторон подписывает соглашение онлайн)
        <hr>
    </div>
    <div>

        <h2 class="heading">Контакты по заявке</h2>

        <div>
            <hr>
        </div>
        <h3 style="margin-bottom: 0; font-style:italic;">Контактные данные лица, ответственного за заявку</h3>
        <p style="color:grey; margin-top: 0; font-size:14px; ">С этим лицом будем взаимодействовать по
            содержанию заявки и при написании сценария</p><br>
        <br>
        <p><span style="color: red">*</span> Фамилия, имя, отчество (полностью):</p> <br>
        <textarea rows="1" class="form-application" name="nameResponsible" id="nameResponsible"
            placeholder="Введите текст" required></textarea> <br>
        <p><span style="color: red">*</span> Организация:</p> <br>
        <textarea rows="1" class="form-application" name="OrganizationResponsible" id="OrganizationResponsible"
            placeholder="Введите текст" required></textarea> <br>
        <p><span style="color: red">*</span> Должность:</p> <br>
        <textarea rows="1" class="form-application" name="PostResponsible" id="PostResponsible"
            placeholder="Введите текст" required></textarea> <br>
        <p><span style="color: red">*</span> Мобильный телефон:</p> <br>
        <textarea rows="1" class="form-application" name="PhoneResponsible" id="PhoneResponsible"
            placeholder="Введите текст" required></textarea> <br>
        <p><span style="color: red">*</span> Email:</p> <br>
        <textarea rows="1" class="form-application" name="EmailResponsible" id="EmailResponsible"
            placeholder="Введите текст" required></textarea> <br>
        <hr>
        <h3 style="margin-bottom: 0; font-style:italic;">Контактные данные представителя, присутствующего на
            площадке Форума</h3>
        <p style="color:grey; margin-top: 0; font-size:14px; ">С этим представителем будем связываться накануне
            церемонии и непосредственно на площадке Форума</p><br>
        <br>
        <p><span style="color: red">*</span> Представитель на площадке Форума совпадает с лицом, ответственным
            за заявку</p> <br>
        <input type="radio" name="coincidence" id="coincidenceYes" required onclick="CoincidenceYes()">Да, это
        тот же человек<br>
        <input type="radio" name="coincidence" id="coincidenceNo" required onclick="CoincidenceNo()">Нет, это
        другой человек
        <br> <br>
        <button type="submit">Отправить</button>
        <br> <br>
        <hr>
        <div name="Coincidence" id="CoincidenceParticipants"></div>
        <div name="OnlineParticipant" id="OnlineParticipant"></div>
    </div>

</form>

{% endblock %} 