{% extends 'index.html' %}
{% load static %}

{% block title%}Заявка{% endblock %}

{% block header1 %}Заявка{% endblock %}
{% block header2 %}на протокольно-организационное сопровождение{% endblock %}
{% block header3 %}церемонии подписания соглашения{% endblock %}

{% block extend_head %}

{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}

    <div>
        <h2 class="heading">Вводные данные по церемонии</h2>

        <p><span style="color: red">*</span> {{form.customer_name.label}}</p><br>
        {{form.customer_name}}
        <p><span style="color: red">*</span> {{form.doc_name.label}}</p><br>
        {{form.doc_name}}
        <p><span style="color: red">*</span> {{form.window.label}}</p><br>
        {{form.window}}


        <h2 class="heading">Информация о сторонах - участниках подписания:</h2>
        <p>Количество сторон-участников подписания</p> <br>

        <div class="form-row">
            <button type="button" id="remove-form">-</button>
            <input type="number" min="2" max="30" value="2" readonly class="raz" id="form-counter">
            <button type="button" id="add-form">+</button>
            <hr>
            {{ sig_formset.management_form }}
            <div id="signatories">

                {% for formset_form in sig_formset %}

                <div class="signatory" id="sig-{{forloop.counter0 }}">
                    <h2 style="font-style:italic;">Сторона подписания {{ forloop.counter }}</h2>
                    {% for field in formset_form%}
                    {% if field.label != 'Id' %}
                    <p><span style="color: red">*</span> {{field.label}}</p> <br>
                    {{ field }}
                    <br>
                    {% endif %}
                    {% endfor %}
                    <hr>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
    <h2 class="heading">Дополнительные опции (при наличии)</h2>
    <hr>

    <h2 class="heading">Почетные гости</h2>
    <p><span style="color: red">*</span> Участие почетных гостей в присутствии которых будет проходить
        церемония</p><br>
    <div>
        <input type="radio" name="honoredGuests" id="honoredGuestsYes" onclick="checkhonoredGuestsYes()" required>Да<br>
        <input type="radio" name="honoredGuests" id="honoredGuestsNo" onclick="checkhonoredGuestsNo()" required
            checked="true">Нет
    </div> <br>
    {{ guests_formset.management_form }}
    <div class="form-row hidden" id="honoredGuestsForm">
        <p><span style="color: red">*</span> {{ form.honored_guests_format.label }}</p><br>
        {{ form.honored_guests_format }}<br>
        <p><b>Количество почетных гостей</b></p><br>
        <button type="button" id="remove-guest">-</button>
        <input type="number" min="0" max="10" value="0" readonly class="raz" id="guests-counter">
        <button type="button" id="add-guest">+</button>
        <div id="honoredGuests">

        </div>
    </div>
    <hr>


    <h2 class="heading">Обмен подарками во время церемонии</h2>
    <p><span style="color: red">*</span> {{form.presents.label}}</p><br>
    {{form.presents}}
    <br>
    <hr>

    <h2 class="heading">Предоставление слова участникам церемонии</h2>
    <p><span style="color: red">*</span> Предоставить слово участникам церемонии</p><br>
    <div>
        <input type="radio" name="wordToTheParticipants" onclick="checkWordToTheParticipantsYes()"
            id="wordToTheParticipantsYes" required>Да<br>
        <input type="radio" name="wordToTheParticipants" onclick="checkWordToTheParticipantsNo()"
            id="wordToTheParticipantsNo" required>Нет
    </div> <br>
    <div id="participantsTrue" class="hidden">
        <p><span style="color: red">*</span> {{ form.time_for_speakers.label }}</p><br>
        {{ form.time_for_speakers }}
        <br>

        <p><span style="color: red">*</span> Дополнительный спикер (не является участником)</p><br>
        <div>
            <input type="radio" onclick="checkAdditionalSpeakerYes();" name="additionalSpeaker"
                id="additionalSpeakerYes" required>Да<br>
            <input type="radio" onclick="checkAdditionalSpeakerNo();" checked="checked" name="additionalSpeaker"
                id="additionalSpeakerNo" required>Нет
        </div> <br>

        <button type="button" onclick="this.nextElementSibling.stepDown(); MinParticipants();">-</button>
        <input type="number" min="0" max="10" value="0" readonly class="raz" name="quantityParticipants"
            id="quantityParticipants">
        <button type="button" onclick="AddParticipants(); this.previousElementSibling.stepUp();">+</button>
        <div id="participants"></div>
    </div>

    <hr>

    <h2 class="heading">Предоставить возможность прессе задавать вопросы после церемонии</h2>
    <p><span style="color: red">*</span> {{form.press_briefing.label}}</p><br>
    {{form.press_briefing}}
    <br>
    <hr>
    <h2 class="heading">Формат церемонии</h2>
    <p><span style="color: red">*</span> {{form.is_online.label}}</p><br>
    {{form.is_online}}
    <br>
    <hr>
    <h2 class="heading">Контакты по заявке</h2>
    <hr>
    <h3 style="margin-bottom: 0; font-style:italic;">Контактные данные лица, ответственного за заявку</h3>
    <p style="color:grey; margin-top: 0; font-size:14px; ">С этим лицом будем взаимодействовать по
        содержанию заявки и при написании сценария</p><br>
    <br>
    <p><span style="color: red">*</span> {{form.name.label}}</p><br>
    {{form.name}}
    <br>
    <p><span style="color: red">*</span> {{form.org_name.label}}</p><br>
    {{form.org_name}}
    <br>
    <p><span style="color: red">*</span> {{form.position.label}}</p><br>
    {{form.position}}
    <br>
    <p><span style="color: red">*</span> {{form.phone_number.label}}</p><br>
    {{form.phone_number}}
    <br>
    <p><span style="color: red">*</span> {{form.email.label}}</p><br>
    {{form.email}}
    <br>
    <hr>
    <h3 style="margin-bottom: 0; font-style:italic;">Контактные данные представителя, присутствующего на
        площадке Форума</h3>
    <p style="color:grey; margin-top: 0; font-size:14px; ">С этим представителем будем связываться накануне
        церемонии и непосредственно на площадке Форума</p><br>

    <p><span style="color: red">*</span> {{form.resp_is_repr.label}}</p><br>
    {{form.resp_is_repr}}
    <div name="Coincidence" id="CoincidenceParticipants" class="hidden">
        <br>
        <p><span style="color: red">*</span> {{form.name.label}}</p><br>
        {{form.repr_name}}
        <br>
        <p><span style="color: red">*</span> {{form.org_name.label}}</p><br>
        {{form.repr_org_name}}
        <br>
        <p><span style="color: red">*</span> {{form.position.label}}</p><br>
        {{form.repr_position}}
        <br>
        <p><span style="color: red">*</span> {{form.phone_number.label}}</p><br>
        {{form.repr_phone_number}}
        <br>
        <p><span style="color: red">*</span> {{form.email.label}}</p><br>
        {{form.repr_email}}
        <br>
    </div>
    <div name="OnlineParticipant" id="OnlineParticipant"></div>
    <br>
    <hr>
    <input type="checkbox" id="agreeCheckbox" required>
    <label for="agreeCheckbox">Я согласен(на) с обработкой персональных данных</label><br>
    <a href="ссылка_на_файл" download>Скачать файл с соглашением</a><br>
    <p style="font-size: smaller;">Для ознакомления с политикой обработки персональных данных, пожалуйста, <a
            href="ссылка_на_соглашение">нажмите здесь</a>.</p>
    <br>
    {% for f, es in form.errors.items %}
    {% for e in es %}
    <div class="alert alert-danger" role="alert">
        {{ f }}: {{ e }}
    </div>
    {% endfor %}
    {% endfor %}
    <br>
    <button type="submit">Отправить</button>

    <br>
    <hr>
</form>

<span> <a href="{% url 'account_logout' %}">Выход</a> <a href="{% url 'account' %}">Личный кабинет</a> </span>

<div id="empty-form" class="hidden">

    <h2 style="font-style:italic;">Сторона подписания <span id="signatory-index-__prefix__"></span>
    </h2>
    {% for field in sig_formset.empty_form%}
    {% if field.label != 'Id' %}
    <p><span style="color: red">*</span> {{field.label}}</p> <br>
    {{ field }}
    {% endif %}
    {% endfor %}
</div>

<div id="empty-form-guest" class="hidden">
    <hr>
    <h2 style="font-style:italic;">Почётный гость <span id="honoredGuest-index-__prefix__"></span>
    </h2>
    {% for field in guests_formset.empty_form%}
    {% if field.label != 'Id' %}
    <p><span style="color: red">*</span> {{field.label}}</p> <br>
    {{ field }}
    {% endif %}
    {% endfor %}

</div>
<script>
    const addMoreBtn = document.getElementById("add-form");
    const removeBtn = document.getElementById("remove-form");
    const totalNewForms = document.getElementById("id_sig-TOTAL_FORMS");
    const formCounter = document.getElementById("form-counter")

    formCounter.setAttribute('value', totalNewForms.value)

    addMoreBtn.addEventListener('click', function () {
        this.previousElementSibling.stepUp();
        add_new_form("signatories", "signatory", "sig", totalNewForms, "empty-form", 30)
    });
    removeBtn.addEventListener('click', function () {
        this.nextElementSibling.stepDown();
        remove_form("signatories", "signatory", "sig", totalNewForms, 2)
    });

    function add_new_form(container, element, prefix, forms, template, max) {
        const currentForms = document.getElementsByClassName(element);
        const currentFormCount = currentForms.length;
        if (currentFormCount >= max) {
            return false;
        }

        const formCopyTarger = document.getElementById(container);
        const copyEmptyFormEl = document.getElementById(template).cloneNode(true);
        copyEmptyFormEl.setAttribute('class', element);
        copyEmptyFormEl.setAttribute('id', `${prefix}-${currentFormCount}`);

        const regex = new RegExp('__prefix__', 'g');
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount);
        forms.setAttribute('value', currentFormCount + 1);
        formCopyTarger.append(copyEmptyFormEl);
        document.getElementById(`${element}-index-${currentFormCount}`).innerHTML = currentFormCount + 1;
    }

    function remove_form(container, element, prefix, forms, min) {
        if (event) {
            event.preventDefault();
        }
        const currentForms = document.getElementsByClassName(element);
        const currentFormCount = currentForms.length;
        if (currentFormCount <= min) {
            return false;
        }

        $(`#${container} #${prefix}-${currentFormCount - 1}:last`).remove();
        forms.setAttribute('value', currentFormCount - 1);

    }

    const honoredGuestsYes = document.getElementById('honoredGuestsYes');
    const honoredGuestsNo = document.getElementById('honoredGuestsNo');

    const addMoreGuestBtn = document.getElementById("add-guest");
    const removeGuestBtn = document.getElementById("remove-guest");

    const guestCounter = document.getElementById("guests-counter");

    const totalNewGuestsForms = document.getElementById("id_guests-TOTAL_FORMS");
    totalNewGuestsForms.setAttribute('value', 0);


    addMoreGuestBtn.addEventListener("click", function () {
        this.previousElementSibling.stepUp();
        add_new_form("honoredGuests", "honoredGuest", "guest", totalNewGuestsForms, "empty-form-guest", 10)
    })
    removeGuestBtn.addEventListener("click", function () {
        this.nextElementSibling.stepDown();
        remove_form("honoredGuests", "honoredGuest", "guest", totalNewGuestsForms, 0)
    })

    function checkhonoredGuestsYes() {
        if (honoredGuestsYes.checked == true) {
            honoredGuestsYes.disabled = true;
            honoredGuestsForm = document.getElementById('honoredGuestsForm');
            honoredGuestsForm.setAttribute('class', 'form-row');
            for (var el in document.getElementById('id_honored_guests_format')) {

            }
        }
    }

    function checkhonoredGuestsNo() {
        if (honoredGuestsNo.checked == true) {
            honoredGuestsYes.disabled = false;
            honoredGuestsForm = document.getElementById('honoredGuestsForm');
            for (var i = 0; i < 10; i++) {
                guestCounter.stepDown();
            }
            honoredGuestsForm.setAttribute('class', 'form-row hidden');
            document.getElementById('honoredGuests').innerHTML = '';
            totalNewGuestsForms.setAttribute('value', 0);
        }
    }
    var checkboxParticipantsYes = document.getElementById("wordToTheParticipantsYes");
    var checkboxParticipantsNo = document.getElementById("wordToTheParticipantsNo");
    checkboxParticipantsNo.checked = true;



    function checkWordToTheParticipantsYes()//Функция наличия слово учатникам
    {

        const numberParticipants = document.getElementById("participants");

        if (checkboxParticipantsYes.checked == true) {
            checkboxParticipantsYes.disabled = true;
            document.getElementById("participantsTrue").setAttribute("class", "");

            var quantityParticipants = document.getElementById("quantityParticipants");
            quantityParticipants.min = 1;
            quantityParticipants.setAttribute("value", 1)


            const select = getSelect();
            const participantDiv = document.createElement('div'); // Создание обертки для элементов
            participantDiv.id = 'participant1';
            select.name = 'participant1';
            participantDiv.innerHTML =
                '<hr> <h2>Участник 1</h2>' +
                '<p>Фамилия, имя, отчество:</p><br>';
            participantDiv.appendChild(select); // Добавление элемента <select> в обертку

            // Добавление оберток в основной контейнер
            numberParticipants.appendChild(participantDiv);
            document.getElementById("id_time_for_speakers_0").required = true;
            document.getElementById("id_time_for_speakers_1").required = true;
        }

    }
    function checkWordToTheParticipantsNo()//Функция отсутствия слово учатникам
    {

        if (checkboxParticipantsNo.checked == true) {
            checkboxParticipantsYes.disabled = false;
        }
        var quantityParticipants = document.getElementById("quantityParticipants");
        quantityParticipants.min = 0;
        quantityParticipants.setAttribute("value", 1)

        var removeParticipants = document.getElementById("participantsTrue");
        var listParticipants = document.getElementById("participants");

        removeParticipants.setAttribute("class", "hidden")
        listParticipants.innerHTML = '';
        document.getElementById("id_time_for_speakers_0").required = false;
        document.getElementById("id_time_for_speakers_1").required = false;

    }

    function checkAdditionalSpeakerYes() {
        var checkboxAdditionalSpeaker = document.getElementById("additionalSpeakerYes");
        if (checkboxAdditionalSpeaker.checked == true) {
            checkAdditionalSpeakerYes.disabled = true;
            var participant1 = document.getElementById('participant1');
            const participantDiv = document.createElement('div');
            participantDiv.innerHTML =
                '<hr> <h2>Участник 1 (<i>Дополнительный спикер</i>)</h2>' +

                '<p><span style="color: red">*</span>Фамилия:</p><br>' +
                '<textarea rows="1" name="participant1-surname"  class = "form-application" cols="100" placeholder="Введите текст" required ></textarea> <br>' +
                '<p><span style="color: red">*</span>Имя:</p><br>' +
                '<textarea rows="1" name="participant1-name"  class = "form-application" cols="100" placeholder="Введите текст" required ></textarea> <br>' +
                '<p><span style="color: red">*</span>Отчество:</p><br>' +
                '<textarea rows="1" name="participant1-middlename"  class = "form-application" cols="100" placeholder="Введите текст" required ></textarea> <br>' +

                '<p><span style="color: red">*</span> Должность с указанием организации:</p><br>' +
                '<textarea rows="1" name="participant1-position" class = "form-application" cols="100" placeholder="Введите текст" required ></textarea> <br>';
            participant1.innerHTML = participantDiv.innerHTML;
        }
    }

    function checkAdditionalSpeakerNo() {
        var checkboxAdditionalSpeakerYes = document.getElementById("additionalSpeakerYes");
        var checkboxAdditionalSpeakerNo = document.getElementById("additionalSpeakerNo");
        if (checkboxAdditionalSpeakerNo.checked == true) {
            checkboxAdditionalSpeakerYes.disabled = false;
        }
        var participant1 = document.getElementById('participant1');
        const select = getSelect();
        select.setAttribute("name", "participant1");
        const participantDiv = document.createElement('div');
        participantDiv.id = 'participant1';
        participantDiv.innerHTML =
            '<hr> <h2>Участник 1</h2>' +
            '<p>Фамилия, имя, отчество:</p><br>';
        participantDiv.appendChild(select); // Добавление элемента <select> в обертку
        participant1.innerHTML = participantDiv.innerHTML;
    }

    function getSelect() {
        const select = document.createElement('select'); // Создание элемента <select>
        select.className = "form-application"; // Присвоение класса
        var countSigning = totalNewForms.value;

        for (i = 0; i < countSigning; i++) {
            console.log("id_sig-" + i + "-signatory_surname");
            const lastnameSigning = document.getElementById("id_sig-" + i + "-signatory_surname").value;
            const nameSigning = document.getElementById("id_sig-" + i + "-signatory_name").value;
            const middleNameSigning = document.getElementById("id_sig-" + i + "-signatory_middlename").value;

            const option = document.createElement('option'); // Создание элемента <option>
            option.setAttribute('value', i);
            if (middleNameSigning == "-" || middleNameSigning == "_") {
                fioSigning = lastnameSigning + " " + nameSigning;
            } else {
                fioSigning = lastnameSigning + " " + nameSigning + " " + middleNameSigning;
            }
            option.textContent = fioSigning; // Присвоение текста элементу <option>
            select.appendChild(option); // Добавление элемента <option> в элемент <select>
        }

        return select;
    }

    function AddParticipants()//Функция добавления участника
    {

        var quantity = document.getElementById("quantityParticipants").value;
        const numberParticipants = document.getElementById("participants");
        if (quantity < 10) {
            quantity = parseInt(quantity) + 1;
            const select = document.createElement('select'); // Создание элемента <select>
            select.className = "form-application"; // Присвоение класса

            for (i = 0; i < totalNewForms.value; i++) {
                const lastnameSigning = document.getElementById("id_sig-" + i + "-signatory_surname").value;
                const nameSigning = document.getElementById("id_sig-" + i + "-signatory_name").value;
                const middleNameSigning = document.getElementById("id_sig-" + i + "-signatory_middlename").value;

                const option = document.createElement('option'); // Создание элемента <option>
                option.setAttribute('value', i)
                if (middleNameSigning == "-" || middleNameSigning == "_") {
                    fioSigning = lastnameSigning + " " + nameSigning;
                    option.textContent = fioSigning; // Присвоение текста элементу <option>
                    alert(fioSigning);
                } else {
                    fioSigning = lastnameSigning + " " + nameSigning + " " + middleNameSigning;
                    option.textContent = fioSigning; // Присвоение текста элементу <option>
                }
                select.appendChild(option); // Добавление элемента <option> в элемент <select>
            }

            const participantDiv = document.createElement('div'); // Создание обертки для элементов
            participantDiv.id = 'participant' + quantity;
            participantDiv.innerHTML =
                '<hr> <h2>Участник ' + quantity + '</h2>' +
                '<p>Фамилия, имя, отчество:</p><br>';
            participantDiv.appendChild(select); // Добавление элемента <select> в обертку
            select.setAttribute('name', `paticipant${quantity}`);
            numberParticipants.appendChild(participantDiv); // Добавление обертки в основной контейнер

        }
    }
    function MinParticipants()//Функция удвления участника
    {
        var quantity = document.getElementById("quantityParticipants").value;
        let quantity1 = parseInt(quantity, 10) + 1;
        const removeDivParticipant = document.getElementById("participant" + quantity1.toString());
        removeDivParticipant.remove();

    }


    var checkboxCoincidenceYes = document.getElementById("id_resp_is_repr_0");
    var checkboxCoincidenceNo = document.getElementById("id_resp_is_repr_1");

    checkboxCoincidenceYes.checked = true;
    CoincidenceYes();

    checkboxCoincidenceYes.addEventListener("click", CoincidenceYes);
    checkboxCoincidenceNo.addEventListener("click", CoincidenceNo);

    function CoincidenceNo()//Функция добавления представителя
    {
        var checkboxCoincidence = document.getElementById("id_resp_is_repr_1");
        const numberHonoredGuests = document.getElementById("CoincidenceParticipants");
        if (checkboxCoincidence.checked == true) {
            checkboxCoincidence.disabled = true;
            numberHonoredGuests.setAttribute("class", '');
            var ta = numberHonoredGuests.getElementsByTagName('textarea');
            for (let element of ta) {
                element.required = true;
                element.value = '';
            }
        }


    }

    function CoincidenceYes()//Функция удаления представителя
    {
        var checkboxCoincidenceNo = document.getElementById("id_resp_is_repr_1");
        var checkboxCoincidenceYes = document.getElementById("id_resp_is_repr_0");
        if (checkboxCoincidenceYes.checked == true) {
            checkboxCoincidenceNo.disabled = false;
            const numberHonoredGuests = document.getElementById("CoincidenceParticipants");
            numberHonoredGuests.setAttribute("class", "hidden");
            var ta = numberHonoredGuests.getElementsByTagName('textarea');
            for (let element of ta) {
                element.required = false;
                element.value = '';
            }
        }
    }
</script>
{% endblock %}