{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block extend_head%}
    {% endblock %}
</head>

<body>
    <div class="container mt-4">
        <div class="header">
            <div class="header-logo-1">
                <a href="{% url 'event_form' %}"><img src="{% static 'images/logoIQProtocol.png' %}"></a>
            </div>
            <div class="header-logo-2"> <img src="{% static 'images/logoRoscongress.svg' %}"> </div>
        </div>
        <div style="text-align: center; width:100%" class="divi">
            <div class="title-body">
                <div>
                    <p style="letter-spacing: 2px"><b>
                            <p>{% block header1 %} {% endblock %}</p>
                            <p class="p">{% block header2 %} {% endblock %}</p>
                            <p class="p">{% block header3 %} {% endblock %}
                            <p>
                        </b> </p>
                </div> <br>
                <hr>

            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>




</body>

</html>