{% extends 'index.html' %}
{% load static %}

{% block title%}Просмотр заявки{% endblock %}

{% block header1 %}Заявка №{{event.number}}{% endblock %}
{% block header2 %}на протокольно-организационное сопровождение{% endblock %}
{% block header3 %}церемонии подписания соглашения{% endblock %}

{% block content %}
<h2 class="heading">Вводные данные по церемонии</h2>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled>{{event.customer_name}}</textarea><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled>{{event.doc_name}}</textarea>
<br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled>{{event.window}}</textarea>
<hr>
<h2 class="heading">Информация о сторонах - участниках подписания:</h2>

<hr>
{% for ceremony in subceremonies %}
<h2 class="heading">Церемония {{forloop.counter}}</h2>
<p>Описание:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{ceremony.discription}}</textarea>
<hr>
{% for el in ceremony.signatories.all %}
<h2 style="font-style: italic;">Сторона подписания {{ forloop.counter }}</h2>
<p> Полное наименование стороны (организации) – участника подписания соглашения:</p>
<br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{el.org_name}}</textarea>
<p> Должность подписанта:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{el.position}}</textarea>
<p> Форма обращения:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {% if el.is_man %}Господин {% else%}Госпожа {% endif %}</textarea>
<p> Фамилия:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{el.signatory_surname}}</textarea>
<p> Имя:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{el.signatory_name}}</textarea>
<p> Отчество:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{el.signatory_middlename}}</textarea>
<p> Написание имени и фамилии подписанта на английском языке:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled>{{el.signatory_name_translate}}</textarea>
<hr>
{% endfor %}
{% endfor %}

<h2 class="heading">Дополнительные опции</h2>
<hr>

{% if honored_guests %}

<h2 class="heading">Почётные гости</h2>
<hr>
<p> Формат участия почётных гостей:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {% if event.honored_guests_format %}Приглашаются вместе с подписантами. Во время церемонии стоят за спинами подписантов {% else%}Присутствуют в зале, представляются модератором, но не выходят на сцену {% endif %}</textarea>
<hr>

{% for el in honored_guests %}
<h2 style="font-style: italic;">Почётный гость {{ forloop.counter }}</h2>
<p> Фамилия, имя, отчество почетного гостя:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{ el.name }}</textarea>
<p> Должность почетного гостя с указанием организации:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{ el.position }}</textarea>
<hr>
{% endfor %}

{% endif %}

<h2 class="heading">Обмен подарками во время церемонии</h2>
<hr>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {% if event.presents %}Да {% else%}Нет {% endif %}</textarea>
<hr>

{% if speakers %}
<h2 class="heading">Предоставление слова участникам церемонии</h2>
<hr><br>

{% if event.time_for_speakers == 0 %}
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled>Не присутствуют</textarea>
{% elif event.time_for_speakers == 1 %}
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled>Приглашаются вместе с подписантами. Во время церемонии стоят за спинами подписантов</textarea>

{% else %}
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> Присутствуют в зале, представляются модератором, но не выходят на сцену
</textarea>
{% endif %}


{% if event.time_for_speakers != 0 %}
<hr>
{% for el in speakers %}
<h2 style="font-style: italic;">Участник {{ forloop.counter }}</h2>
<p> Фамилия, имя, отчество:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{el.signatory_surname}} {{el.signatory_name}} {{el.signatory_middlename}}</textarea>
{% if el.is_additional_speaker%}
<p> Должность с указанием организации::</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{el.position}}</textarea>
{% endif %}
<hr>
{% endfor %}

{% endif %}

{% endif %}



<h2 class="heading">Пресс-подход</h2>
<hr><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {% if event.press_briefing %}Да {% else%}Нет {% endif %}</textarea>
<hr>
<h2 class="heading">Формат церемонии</h2>
<hr><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {% if event.is_online %} Удаленная онлайн-церемония (одна из сторон подписывает соглашение онлайн) {% else%}Церемония сполным присутствием (все стороны присутствуют взале) {% endif %}</textarea>
<hr>
<h2 class="heading">Контакты по заявке</h2>
<hr>
<h3 style="margin-bottom: 0; font-style:italic;">Контактные данные лица, ответственного за заявку</h3>
<p style="color:grey; margin-top: 0; font-size:14px; ">С этим лицом будем взаимодействовать по
    содержанию заявки и при написании сценария</p><br>

<br>
<p> Фамилия, имя, отчество (полностью):</p>
<br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{event.name}}</textarea>
<p> Организация:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.org_name}}</textarea>
<p> Должность:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.position}}</textarea>
<p> Мобильный телефон:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.phone_number}}</textarea>
<p> Email:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1" disabled> {{event.email}}</textarea>
<hr>

{% if not event.resp_is_repr%}
<h2 class="heading">Контакты по заявке</h2>
<hr>
<h3 style="margin-bottom: 0; font-style:italic;">Контактные данные представителя, присутствующего на площадке Форума
</h3>
<p style="color:grey; margin-top: 0; font-size:14px; ">С этим представителем будем связываться накануне церемонии и
    непосредственно на площадке Форума</p><br>

<br>
<p> Фамилия, имя, отчество (полностью):</p>
<br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.repr_name}}</textarea>
<p> Организация:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.repr_org_name}}</textarea>
<p> Должность:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.repr_position}}</textarea>
<p> Мобильный телефон:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.repr_phone_number}}</textarea>
<p> Email:</p><br>
<textarea type='text' class='form-application' maxlength="255" cols="30" rows="1"
    disabled> {{event.repr_email}}</textarea>
<hr>
{% endif%}

{% endblock %}